@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

.cc-navbar{
    background-color: rgba(0, 0, 0, 0.55);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.54);
    z-index: 99;
    font-family: 'Merriweather', serif;
    

}

.cc-navbar .nav-link{
    border-bottom: 1px solid transparent;
    transition: padding-botton .4s ease-in-out, border-color 0,3s ease;
}

.cc-navbar .nav-link:hover{
    padding-bottom: 20px;
    border-bottom-color: var(--bs-teal) ;
}

 .banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/EPA_fond.jpg") center center fixed no-repeat;
    height: 800px;
    background-size: cover;
}

.banner .banner-desc{
    font-size: 48px;
    font-weight: 400;
    color: brown;
}


.btn-order{
    color: var(--bs-teal);
    border-color:var(--bs-teal); 
    transition: 0.5s;

}

.btn-order:hover,
.btn-order:active{
    color: rgb(227, 236, 244);
    background-color:var(--bs-teal); 
}
footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(12, 4, 4);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: rgb(110, 68, 5);
    }
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.footer-content h3{
    font-size: 1,8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: aqua;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4 ease;
}
.socials a:hover i{
    color: rgb(79, 47, 8);
}
.footer-botton{
    background: #111;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}