*
*::before
*::after{
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
/*global style */
label{
    display: block;
    margin-bottom: 0.5rem;
}
input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.width-50{

    width: 50%;
}

.ml-auto{
    margin-left: auto;
}
/*form */

.form{
    width: clamp(320px, 30px, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}
.input-group{
    margin: 2rem 0;

}

/* button */
.btn{
    padding: 00.75rem;
    display: block;
    text-decoration: none;
    background-color: rgb(244, 142, 18);
    color: rgb(207, 25, 25);
    text-align: center;
    border-radius: O.25rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px;
}